.description-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow:  4px 3px 39px rgb(23, 141, 121);
  }
  
  .description-container h2 {
    color: rgb(23, 141, 121);
    margin-bottom: 8px;
  }
  
  .description-container p {
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
  }
.description-container:hover{
  transform: scale(1.1);

}
  